html{
  background-image: url(media/Background.jpg);
  padding-right: 150px;
  padding-left: 100px;
}

body {
    background-color:  darkred;
    margin-left: 50px;
    padding: 15px;
  }
  
  h1 {
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 100 px
  }

  h2{
    text-decoration: underline;
    font-variant: small-caps
  }
p,ol,input{
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing 0.5px
}
a{text-decoration:none}

#Btn{
  background-color: teal;
  border-radius: 15px;
  padding: 20px 10px;
  font-size: 15px;
}